@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Select A Customer</h1>
<form id="customerForm" asp-page="Product" method="GET">
    <select id="customerID" name="customerID">
        <option value="">Select here...</option>
        @foreach (var customer in Model.Customers)
        {
            <option value="@customer.ID">@customer.Name</option>
        }
    </select>
    <br><br>
    <input id='submitButton' type="submit" value="Show Product" disabled>
</form>