@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Select A Customer</h1>
<form id="customerForm" asp-page="Product" method="GET">
    <select id="customerID" name="customerID">
        <option value="">Select here...</option>
        @foreach (var customer in Model.Customers)
        {
            <option value="@customer.ID">@customer.Name</option>
        }
    </select>
    <br><br>
    <input id='submitCustomer' type="submit" value="Show Products" disabled>
</form>

<br />
<br />
<br />
<button id="addCustomerBtn">Add Customer</button>
<dialog id="addCustomerDialog">
    <h2>Data Entry Form</h2>
    <form id="newCustomerForm" method="GET">
        <label for="Name">Name:</label>
        <input type="text" id="newNameTxt" name="Name"><br><br>

        <button type="submit">Submit</button>
        <button type="button" id="closeDialogBtn">Cancel</button>
    </form>
</dialog>