@page
@model TestRazorApp.Pages.ProductModel
@{
	ViewData["Title"] = "Product Details";
}

<table>
	<thead>Products:</thead>
		@foreach (var product in Model.Products)
		{
		<tr>
			<td data-product-id="@product.ID"> @product.Name </td>
		</tr>
		}
</table>

<br>
<div id="productInfo" style="border: 1px solid #ccc; padding: 15px; margin-top: 20px; visibility: hidden;">
	<h2>Product Detail:</h2>
	<p>Name: <span id="detailName"></span></p>
	<p>Description: <span id="detailDescription"></span></p>
	<p>Price: <span id="detailPrice"></span></p>
</div>

<br>    
<p>
    <a asp-page="Index">Back to Customer Selection</a>
</p>